---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Serving rules of Pickleball">
  <!-- YouTube Video Section -->

  <div class="mx-20">
    <div class="max-w-7xl mx-auto p-6 shadow-md">
      <h2 class="text-5xl text-center font-semibold text-blue-500 mb-10">
        Learn Pickleball Serving Rules
      </h2>
      <div class="mx-auto w-full lg:w-1/2">
        <div
          class="overflow-hidden rounded-lg border-4 border-pink-500 shadow-lg"
        >
          <iframe
            src="https://www.youtube.com/embed/gpoifV4-xdk"
            title="Pickleball Highlights"
            class="h-[300px] w-full md:h-[220px] lg:h-[300px]"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
        </div>
      </div>
    </div>

    <h1 class="text-3xl font-bold text-pink-400 mb-4">
      Pickleball Serving Rules Guide
    </h1>
    <p class="mb-6">
      Pickleball serving rules are some of the most important things you will
      learn when learning to play pickleball as a beginner. Your serve will set
      up the rally, determine your positioning, and affect your chances of
      winning (or losing) the point. Here are our top pickleball rules on
      serving:
    </p>

    <section class="mb-8">
      <h2 class="text-2xl font-semibold text-pink-400 mb-4">Types of Serves</h2>
      <div class="mb-6">
        <h3 class="text-xl font-semibold text-pink-400">
          Pickleball Volley Serve
        </h3>
        <p class="mt-2 text-white">
          The volley serve is when you hit the ball without it bouncing off the
          playing surface first. You can hit the volley serve with your forehand
          or backhand.
        </p>
        <ul class="list-disc list-inside mt-2 text-white">
          <li>
            The server’s arm must be moving in an upward arc when the ball makes
            contact with the paddle.
          </li>
          <li>
            The highest point of the head of the pickleball paddle must not be
            above the highest part of the server’s wrist when the ball makes
            contact with the paddle.
          </li>
          <li>Your paddle cannot contact the ball above the waist.</li>
        </ul>
      </div>
      <div>
        <h3 class="text-xl font-semibold text-pink-400">
          Pickleball Drop Serve
        </h3>
        <p class="mt-2 text-white">
          The drop serve in pickleball is when you hit the ball after it bounces
          off the playing surface. You can hit the drop serve with your forehand
          or backhand.
        </p>
        <ul class="list-disc list-inside mt-2 text-white">
          <li>
            The ball can bounce as many times as you want before you serve it
            (as long as you stay within the 10-second serve rule).
          </li>
          <li>
            The server has to drop the ball from one hand only, or the paddle
            face.
          </li>
          <li>The ball must drop from a natural (un-aided) height.</li>
          <li>
            You cannot propel the ball in any direction before you hit the ball.
          </li>
        </ul>
      </div>
    </section>

    <section class="mb-8">
      <h2 class="text-2xl font-semibold text-pink-400 mb-4">
        Basic Serving Rules
      </h2>
      <p class="text-white">
        Pickleball serving rules are different than any other sport, due to the
        size of the court, weight of the ball, and correlation with other
        pickleball rules. There are some basic pickleball rules to learn before
        you learn how to use them:
      </p>
      <ul class="list-disc list-inside mt-2 text-white">
        <li>
          Unlike tennis and other racket sports, there are no overhand serves in
          pickleball.
        </li>
        <li>
          When your paddle contacts the ball, it may not be above your waist
          level.
        </li>
        <li>
          Your arm must be moving in an “upward arc” when you hit the ball.
        </li>
        <li>
          Your paddle head may also not be above the highest part of your wrist
          when it hits the ball.
        </li>
        <li>
          You may “drop serve,” which is allowing the ball to bounce before your
          serve.
        </li>
        <li>
          If you use the bounce serve, you must use gravity and are not allowed
          to push the ball down to get it to bounce harder.
        </li>
        <li>
          When you hit the ball, your feet may not be touching the baseline or
          court in any way, and must be between the imaginary lines that would
          be the extension of the center line and sideline.
        </li>
        <li>
          You must also have at least one foot behind the baseline on the ground
          or floor.
        </li>
      </ul>
    </section>

    <section class="mb-8">
      <h2 class="text-2xl font-semibold text-pink-400 mb-4">Where to Serve</h2>
      <p class="text-white">
        When it’s your turn to serve, you will serve cross-court from the side
        you are currently standing on. The ball must hit above the top of the
        kitchen line, below the top of the baseline, and within the outside
        edges of the sidelines.
      </p>
    </section>

    <section class="mb-8">
      <h2 class="text-2xl font-semibold text-pink-300 mb-4">
        How Many Serves Does Each Server Get?
      </h2>
      <p class="text-white">
        Each server only gets one serve attempt per serve. However, if a point
        is scored, the server will continue serving until a point is lost.
      </p>
    </section>

    <section class="mb-8">
      <h2 class="text-2xl font-semibold text-pink-300 mb-4">
        Serving Sequences
      </h2>
      <p class="text-white">
        In doubles, both players on each team have an opportunity to serve. Each
        team will earn a point for each won serve and rally. Each player will
        continue to serve until they have lost a rally.
      </p>
    </section>

    <section class="mb-8">
      <h2 class="text-2xl font-semibold text-pink-300 mb-4">
        Serving and Scoring
      </h2>
      <p class="text-white">
        Only the serving team can score points. Most games are won by the team
        who reach 11 points first, as long as they win by 2. Tournament games
        can go to 15 or 21 points, win by 2.
      </p>
    </section>

    <section class="mb-8">
      <h2 class="text-2xl font-semibold text-pink-300 mb-4">
        Two-Bounce Rule and Serving
      </h2>
      <p class="text-white">
        The two-bounce rule in pickleball is incredibly important to the serving
        rules. The rule requires two bounces in each rally. Here are more
        details about the two-bounce rule in pickleball:
      </p>
    </section>

    <section class="mb-8">
      <h2 class="text-2xl font-semibold text-pink-300 mb-4">
        Line Calls During the Serve
      </h2>
      <p class="text-white">
        A ball may contact the sidelines or baseline during a serve and be
        considered “in,” unless it touches the sidelines within the non-volley
        zone. A ball may not contact the non-volley (or “kitchen”) line during a
        serve. If it does, it’s considered a fault.
      </p>
    </section>

    <section class="mb-8">
      <h2 class="text-2xl font-semibold text-pink-400 mb-4">
        Faults During Pickleball Serves
      </h2>
      <p class="text-pink-300">
        Concerning serving, there are a few rules about faults you need to know:
      </p>
      <ul class="list-disc list-inside mt-2 text-white">
        <li>
          If Server 1 on a team is serving and their team commits a fault, there
          will be no point scored and the serve will go to Server 2.
        </li>
        <li>
          If Server 2 on a team is serving and the team commits a fault, there
          will be no point scored and the serve is returned to the opposing
          team.
        </li>
        <li>
          If the non-serving team commits a fault, the serving team is awarded a
          point.
        </li>
      </ul>
    </section>

    <section class="mb-8">
      <h2 class="text-2xl font-semibold text- mb-4">Which Team Serves First</h2>
      <p class="text-white">
        Serving will be determined by the players. You can choose a few
        different options to choose who is going to serve first. Some facilities
        have a rule on which side serves first, you can do a coin flip, or you
        can just discuss it and decide who will serve first.
      </p>
    </section>

    <section class="mb-8">
      <h2 class="text-2xl font-semibold text-pink-400 mb-4">
        Learning All the Pickleball Rules for Serving
      </h2>
      <p class="text-white">
        For it being one aspect of the game, there are quite a few rules when it
        comes to pickleball serving. But once you get out on the court, you will
        begin to learn how they all make sense and make pickleball the fun and
        complex game that it is.
      </p>
    </section>

    <section>
      <div class="max-w-7xl mx-auto">
        <h2 class="text-4xl text-center font-bold text-pink-400 mb-8">
          Latest Articles
        </h2>
        <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
          <!-- Article 1 -->
          <a href="https://www.recesspickleball.com/blogs/pickleball/pickleball-scoring-guide" target="_blank" rel="noopener noreferrer">
          <div class="bg-white shadow-md rounded-lg overflow-hidden">
            <img
              src="https://assets.selkirk.com/m/38b0ad441431a411/thul-reset-pickleball-get-to-kitchen-line-lessons.png"
              alt="Article Image 1"
              class="w-full h-48 object-cover"
            />
            <div class="p-4">
               
              <p class="text-blue-500 font-semibold text-sm">
                Pickleball Shots
              </p>
              <h3 class="text-lg font-bold text-gray-800 mt-1">
                5 tips to reset the pickleball & get to the kitchen line
              </h3>
              <p class="text-gray-600 mt-2 text-sm">
                We're going to give you the secret breakdown to get to the
                kitchen line every single time — by learning and practicing the
                pickleball reset shot.
              </p>
            </div>
          </div>
          </a>

          <!-- Article 2 -->
          <a href="https://currex.com/blogs/news/the-rules-of-pickleball-serving-scoring-kitchen-faults" target="_blank" rel="noopener noreferrer">
          <div class="bg-white shadow-md rounded-lg overflow-hidden">
            <img
              src="https://assets.selkirk.com/m/127cbb858fa4a790/thul-best-pickleball-vacations-destinations-hotels-marriott-hutchinson-island.png"
              alt="Article Image 2"
              class="w-full h-48 object-cover"
            />
            <div class="p-4">
              <p class="text-blue-500 font-semibold text-sm">
                Where To Play Pickleball
              </p>
              <h3 class="text-lg font-bold text-gray-800 mt-1">
                6 of the best pickleball vacation destinations
              </h3>
              <p class="text-gray-600 mt-2 text-sm">
                Visit the best resorts and destinations that would make perfect
                pickleball vacations.
              </p>
            </div>
          </div>
          </a>

          <!-- Article 3 -->
          <a href="https://recsports.msu.edu/imsports/activityrules/pickleball.html" target="_blank" rel="noopener noreferrer">
          <div class="bg-white shadow-md rounded-lg overflow-hidden">
            <img
              src="https://assets.selkirk.com/m/31ac3d947b7e8b8a/thul-2025-usa-pickleball-rule-changes-official-tom-tadler.png"
              alt="Article Image 3"
              class="w-full h-48 object-cover"
            />
            <div class="p-4">
              <p class="text-blue-500 font-semibold text-sm">
                Pickleball Rules
              </p>
              <h3 class="text-lg font-bold text-gray-800 mt-1">
                2025 pickleball rule changes: Q&A with USA Pickleball director
                of officiating Tom Tadler
              </h3>
              <p class="text-gray-600 mt-2 text-sm">
                USA Pickleball's 2025 rules are out, and there is some confusion
                and controversy over some of them. Tom Tadler, managing director
                of officiating with USA Pickleball, hopes to clear up some
                confusion on 2025 pickleball rules.
              </p>
            </div>
          </div>
          </a>
        </div>
      </div>
    </section>
  </div>
</Layout>
