---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Paddles">
  <body class="bg-black text-center text-gray-800 ml-20 mr-20">
    <div class="container mx-auto p-6">
      <!-- Header Section -->
      <div class="header text-center">
        <img
          src="https://nwscdn.com/media/wysiwyg/pickleball-paddle-guide_1.jpg"
          alt="Pickleball Paddle Guide"
          class="max-h-[400px] w-full object-cover"
        />
      </div>

      <!-- Title Section -->
      <h1 class="mt-6 text-center text-3xl font-bold text-pink-400 sm:text-4xl">
        Pickleball Paddle Guide
      </h1>
      <h2
        class="mt-4 text-center text-lg font-semibold text-pink-500 sm:text-xl"
      >
        Which Pickleball Paddle Should You Buy?
      </h2>
      <p class="mt-4 text-sm sm:text-base">
        If you're thinking of buying a pickleball paddle you've come to the
        right place! Our comprehensive pickleball paddle guide covers everything
        from pickleball paddle dimensions & weights to paddle materials & grips,
        meaning you'll find all the information you need to buy a pickleball
        paddle with confidence.
      </p>

      <!-- Dimensions Section -->
      <h2 class="mt-6 text-lg font-semibold text-pink-400 sm:text-xl">
        Pickleball Paddle Dimensions & Weights
      </h2>
      <h3 class="mt-4 text-base font-medium text-pink-400 sm:text-lg">
        What are the dimensions of a pickleball paddle?
      </h3>
      <p class="mt-2 text-sm sm:text-base">
        The official <strong>USAPA rulebook</strong> states that:
      </p>
      <blockquote
        class="mt-2 border-l-4 border-pink-300 pl-4 text-sm italic sm:text-base"
      >
        "The combined length and width, including any edge guard and end cap,
        shall not exceed 24 inches (60.96 cm). The paddle length cannot exceed
        17 inches (43.18 cm). There is no restriction on paddle thickness."
      </blockquote>
      <p class="mt-4 text-sm sm:text-base">
        In other words, pickleball paddles can be a range of widths and lengths,
        but the total length + the total width, cannot exceed 24 inches. With
        this in mind, if you opt to use a pickleball paddle with an elongated,
        longer face, the paddle will have to be narrower than traditional
        designs to meet regulation criteria.
      </p>

      <!-- Paddle Dimensions Images -->
      <section class="mt-8 flex flex-wrap items-center gap-5">
        <div class="min-w-[250px] flex-1 text-center">
          <img
            src="https://nwscdn.com/media/wysiwyg/Pickleball-paddle-traditional-size_2.jpg"
            alt="Traditional Pickleball Paddle Dimensions"
            class="h-auto max-w-full"
          />
          <p class="text-sm sm:text-base">
            Traditional Pickleball Paddle Dimensions
          </p>
        </div>
        <div class="min-w-[250px] flex-1 text-center">
          <img
            src="https://nwscdn.com/media/wysiwyg/Pickleball-elongated-paddle-size_2.jpg"
            alt="Elongated Pickleball Paddle Dimensions"
            class="h-auto max-w-full"
          />
          <p class="text-sm sm:text-base">
            Elongated Pickleball Paddle Dimensions
          </p>
        </div>
      </section>

      <!-- Comparison Section -->
      <section class="mt-10">
        <h2 class="text-lg text-pink-400 font-semibold sm:text-xl">
          How do pickleball paddles compare in size with rackets & paddles used
          in other sports?
        </h2>
        <div class="mt-6 flex flex-wrap items-center gap-5">
          <div class="min-w-[250px] flex-1 text-center">
            <img
              src="https://nwscdn.com/media/wysiwyg/buyersguide/racket-size-comparison-UK.jpg"
              alt="Pickleball Paddle Size Comparison"
              class="mx-auto w-full max-w-xs"
            />
          </div>
          <div class="min-w-[250px] flex-1">
            <p class="text-sm sm:text-base">
              One of the distinctive features of the sport of pickleball is the
              pickleball paddle. Pickleball paddles must adhere to the USAPA
              regulations mentioned above, meaning they are bigger than a <strong
                >table tennis bat</strong
              >, but smaller than a tennis racket.
            </p>
            <p class="mt-4 text-sm sm:text-base">
              Interestingly, the official rules for table tennis state that "The
              racket may be of any size, shape, or weight but the blade shall be
              flat and rigid," meaning that in theory, you could play with a
              giant table tennis paddle if you wanted to.
            </p>
          </div>
        </div>
      </section>

      <!-- Weight Section -->
      <section class="mt-15">
        <h2 class="text-lg mt-10 text-pink-400 font-semibold sm:text-xl">
          How much do pickleball paddles weigh?
        </h2>
        <p class="mt-4 text-sm sm:text-base">
          Whilst there is no restriction in the USAPA official rulebook
          regarding pickleball paddle weight, most pickleball paddles weigh
          between 7.0oz (204g) - 8.5oz (241g). Heavier paddles tend to provide
          more power, whilst lighter paddles give more control & precision. Most
          first-time players will opt for a mid-weight paddle, to get a good
          balance of both power & control.
        </p>
      </section>
    </div>

    <div class="mt-15 lg:mx-20">
      <h2 class="mb-4 text-2xl font-bold text-pink-400">
        Pickleball Paddle Grip Sizes
      </h2>
      <p class="mb-6 text-white">
        Getting the right grip size can be important for performance and
        comfort. Using a pickleball paddle that is too big for example, can
        cause your grip to fatigue relatively quickly, and can even cause
        tendonitis in the elbow or wrist in the long term.
      </p>

      <div>
        <img
          src="https://nwscdn.com/media/wysiwyg/buyersguide/Pickleball-Grip-Measure-Paddle2.png"
          alt="Pickleball Grip Measurement Guide"
          class="mx-auto h-auto max-w-full rounded-md border border-gray-300"
        />
      </div>

      <h3 class="mt-10 mb-4 text-xl font-semibold text-pink-400">
        How do you measure grip size for a pickleball paddle?
      </h3>
      <ul class="list-inside list-disc space-y-2 text-white">
        <li>
          Hold your hand out in front of you so your palm and fingers point
          straight up into the air.
        </li>
        <li>
          Place your fingers together - your thumb can point out to the side.
        </li>
        <li>
          Align the bottom of the ruler with the bottom lateral crease of the
          palm of one of your hands.
        </li>
        <li>Measure to the top of your ring finger.</li>
      </ul>

      <p class="mt-6 text-white">
        In the image shown above, the pickleball player's grip would be 4.5
        inches or a size 4 pickleball paddle. Once you've measured your grip,
        you can use the chart below to determine what size you need:
      </p>

      <table class="mt-10 w-full border-collapse border border-gray-300">
        <thead>
          <tr class="bg-pink-400">
            <th class="border border-pink-300 px-4 py-2 text-gray-800"
              >Size in Inches</th
            >
            <th class="border border-pink-300 px-4 py-2 text-gray-800"
              >Size in CM</th
            >
            <th class="border border-pink-300 px-4 py-2 text-gray-800"
              >European Sizes</th
            >
            <th class="border border-pink-300 px-4 py-2 text-gray-800"
              >US Sizes</th
            >
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="border border-pink-300 px-4 py-2">3.94" - 4.06"</td>
            <td class="border border-pink-300 px-4 py-2">10.0 - 10.3cm</td>
            <td class="border border-pink-300 px-4 py-2">0</td>
            <td class="border border-pink-300 px-4 py-2">4 inches</td>
          </tr>
          <tr class="bg-pink-300">
            <td class="border border-pink-300 px-4 py-2">4.06" - 4.17"</td>
            <td class="border border-pink-300 px-4 py-2">10.3 - 10.6cm</td>
            <td class="border border-pink-300 px-4 py-2">1</td>
            <td class="border border-pink-300 px-4 py-2">4 1/8 inches</td>
          </tr>
          <tr>
            <td class="border border-pink-300 px-4 py-2">4.17" - 4.33"</td>
            <td class="border border-pink-300 px-4 py-2">10.6 - 11.0cm</td>
            <td class="border border-pink-300 px-4 py-2">2</td>
            <td class="border border-pink-300 px-4 py-2">4 1/4 inches</td>
          </tr>
          <tr class="bg-pink-300">
            <td class="border border-pink-300 px-4 py-2">4.33" - 4.45"</td>
            <td class="border border-pink-300 px-4 py-2">11.0 - 11.3cm</td>
            <td class="border border-pink-300 px-4 py-2">3</td>
            <td class="border border-pink-300 px-4 py-2">4 3/8 inches</td>
          </tr>
          <tr>
            <td class="border border-pink-300 px-4 py-2">4.45" - 4.65"</td>
            <td class="border border-pink-300 px-4 py-2">11.3 - 11.8cm</td>
            <td class="border border-pink-300 px-4 py-2">4</td>
            <td class="border border-pink-300 px-4 py-2">4 1/2 inches</td>
          </tr>
          <tr class="bg-pink-300">
            <td class="border border-pink-300 px-4 py-2">4.65" - 4.72"</td>
            <td class="border border-pink-300 px-4 py-2">11.8 - 12.0cm</td>
            <td class="border border-pink-300 px-4 py-2">5</td>
            <td class="border border-pink-300 px-4 py-2">4 5/8 inches</td>
          </tr>
          <tr>
            <td class="border border-pink-300 px-4 py-2">4.72" - 4.84"</td>
            <td class="border border-pink-300 px-4 py-2">12.0 - 12.3cm</td>
            <td class="border border-pink-300 px-4 py-2">6</td>
            <td class="border border-pink-300 px-4 py-2">4 3/4 inches</td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- Weight Section -->
    <div class="mt-10 lg:mx-20">
      <div>
        <h3 class="text-xl text-pink-400 font-bold mb-2">Weight</h3>
        <p>
          Heavier paddles weighing more than 8.5oz offer additional power,
          whilst lighter paddles, weighing less than 7.3oz, offer more precision
          & control. Most players opt for a pickleball paddle that weighs
          somewhere in between, for a balance of power & precision.
          Medium-weight pickleball paddles are ideal for beginners, who are yet
          to establish a specific style of play.
        </p>
      </div>

      <!-- Paddle Material Section -->
      <div class="mt-10">
        <h3 class="text-xl text-pink-400 font-bold mb-2">Paddle Material</h3>
        <p>
          A number of materials are used in pickleball paddle faces, including
          fibreglass, wood and graphite. Graphite is a type of carbon fibre that
          has a reputation within the pickleball community for providing more
          precision than a fibreglass pickleball paddle and more power than
          other carbon fibre materials. Despite its strength and durability,
          graphite is also a relatively light material, meaning that your grip
          and arms are less likely to fatigue during a pickleball game when
          using a graphite paddle. If you are a beginner or someone looking for
          a cost-effective paddle, then you may also consider investing in one
          with a wooden face. Paddles with wooden faces tend to be solid wood
          and substantially cheaper than paddles made with other composite
          materials and provide a similar level of performance in terms of
          power. Wooden paddles are also said to be longer lasting than
          composite paddles.
        </p>
      </div>

      <!-- Core Section -->
      <div class="mt-10">
        <h3 class="text-xl text-pink-400 font-bold mb-2">Core</h3>
        <p>
          The first pickleball paddle cores were made with the material Nomex.
          Developed in the late 1960s for industrial clothing & appliances;
          Nomex quickly became the go-to choice for pickleball paddle cores.
          However, in more recent years pickleball paddles with polymer cores
          have become the most popular, thanks to the superior level of power
          and control that they offer. Providing a flexible and soft touch,
          paddles with a honeycomb-style polymer core can also provide an
          additional level of precision & a better “feel”. Another reason why
          polymer core paddles are so popular, is that they are not as loud as
          paddles with cores made from wood or Nomex. Something that is often an
          important consideration for players who have a pickleball court at
          home.
        </p>
      </div>

      <!-- USAPA Approval Section -->
      <div class="mt-10">
        <h3 class="text-xl text-pink-400 font-bold mb-2">USAPA Approval</h3>
        <p>
          Another thing to look out for when buying a pickleball paddle - is to
          check whether it is USAPA (United States of America Pickleball
          Association) approved for competitive matches. Without USAPA approval,
          you may not be able to use a specific paddle in a regulation game or
          competition. The Vermont Venom Pickleball Paddle has been approved by
          USAPA and approved for competitive play.
        </p>
      </div>
    </div>
    <div class="container mx-auto mt-10">
      <h2 class="text-5xl font-bold text-center text-pink-600">
        PICKLEBALL PADDLE
      </h2>
      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-6 mt-6">
        <!-- Item 1 -->
        <a
          href="https://www.amazon.in/Synco-Pickleball-Pickleballs-Fiberglass-Lightweight/dp/B0D2DNJCPB/ref=sr_1_1_sspa?adgrpid=157222581490&dib=eyJ2IjoiMSJ9.BqX1Df_TA3_Z619tn4S-EX7UCgeQVzDTCsQqDvDX9w0pLuqR6tGXOU8Sx9lPz_Dq1p1u4epmG5Gvp10EeXv93YKZqQbR5bBmNTGC-ayZyDo1PeswLDP5dyVcaagbh_ZQ7qLd6wlzXk94GSBAzf17fqzBOO5wBimwl1Av7MfdnYHZ57ywZ1GS5yuJM4yiOCLIDc4bo6xdkoWleO6mSO5skWaIfwXrZiTyPAqkv3rVNoZe_f4KXYKJVpQdNnVbf1jV4qxsDUriWpt2MQVaWTXVoZeFikV-7IDn56tL1DoD3KY.2pNfhAsscotaGyetvr2SopHA4uf5tXOJJZ0tIiAffHI&dib_tag=se&gad_source=1&hvadid=698678093701&hvdev=c&hvlocphy=9061701&hvnetw=g&hvqmt=e&hvrand=11217221565249665220&hvtargid=kwd-1128945728851&hydadcr=17788_2250011&keywords=amazon+pickleball+racquet&nsdOptOutParam=true&qid=1736838720&sr=8-1-spons&sp_csd=d2lkZ2V0TmFtZT1zcF9hdGY&psc=1"
          target="_blank"
          rel="noopener noreferrer"
        >
          <div class="bg-pink-200 shadow-md rounded-lg overflow-hidden">
            <img
              src="https://m.media-amazon.com/images/I/71Lh8ynle7L._SX679_.jpg"
              alt="Pickleball Paddles"
              class="w-full h-50 object-cover"
            />
            <div class="p-4">
              <h3 class="text-sm font-semibold text-gray-800">
                Synco Pickleball Paddle Set | 1 Pickleball Rackets and 2
                Pickleballs with Carry Bag | Fiberglass Lightweight Racket with
                Cushion Comfort Grip (16mm, Carbonium Red)
              </h3>
              <p class="mt-2 text-lg font-bold text-pink-600">
                ₹2,999 <span class="line-through text-gray-400">₹4,999</span>
              </p>
            </div>
          </div>
        </a>

        <!-- Item 2 -->
        <a
          href="https://www.amazon.in/Pickleball-United-Ultralight-Corksheet-Control-1Pack/dp/B0CRHVH3SY/ref=sr_1_2_sspa?adgrpid=157222581490&dib=eyJ2IjoiMSJ9.BqX1Df_TA3_Z619tn4S-EX7UCgeQVzDTCsQqDvDX9w0pLuqR6tGXOU8Sx9lPz_Dq1p1u4epmG5Gvp10EeXv93YKZqQbR5bBmNTGC-ayZyDo1PeswLDP5dyVcaagbh_ZQ7qLd6wlzXk94GSBAzf17fqzBOO5wBimwl1Av7MfdnYHZ57ywZ1GS5yuJM4yiOCLIDc4bo6xdkoWleO6mSO5skWaIfwXrZiTyPAqkv3rVNoZe_f4KXYKJVpQdNnVbf1jV4qxsDUriWpt2MQVaWTXVoZeFikV-7IDn56tL1DoD3KY.2pNfhAsscotaGyetvr2SopHA4uf5tXOJJZ0tIiAffHI&dib_tag=se&gad_source=1&hvadid=698678093701&hvdev=c&hvlocphy=9061701&hvnetw=g&hvqmt=e&hvrand=11217221565249665220&hvtargid=kwd-1128945728851&hydadcr=17788_2250011&keywords=amazon+pickleball+racquet&nsdOptOutParam=true&qid=1736838720&sr=8-2-spons&sp_csd=d2lkZ2V0TmFtZT1zcF9hdGY&psc=1"
          target="_blank"
          rel="noopener noreferrer"
        >
          <div class="overflow-hidden rounded-lg bg-pink-200 shadow-md">
            <img
              src="https://m.media-amazon.com/images/I/51a3rfaK-VL._SX679_.jpg"
              alt="Pickleball Paddles"
              class="h-50 w-full object-cover"
            />
            <div class="p-4">
              <h3 class="text-sm font-semibold text-gray-800">
                Pickleball United Allround Pickleball Paddle| Ultralight Racquet
                Corksheet Core Wide Body, Sweat Absorbent Grip| Ideal for All
                Ages, Skill| Perfect Play for Indoors Outdoors w Precision
                Control | 1Pack
              </h3>
              <p class="mt-2 text-lg font-bold text-pink-600">
                ₹1,055 <span class="text-gray-400 line-through">₹1,199</span>
              </p>
            </div>
          </div>
        </a>

        <!-- Item 3 -->
        <a
          href="https://www.amazon.in/Pickleball-Featuring-Multilayer-Fiberglass-Honeycomb/dp/B0DBHNV41X/ref=sr_1_5?adgrpid=157222581490&dib=eyJ2IjoiMSJ9.BqX1Df_TA3_Z619tn4S-EX7UCgeQVzDTCsQqDvDX9w0pLuqR6tGXOU8Sx9lPz_Dq1p1u4epmG5Gvp10EeXv93YKZqQbR5bBmNTGC-ayZyDo1PeswLDP5dyVcaagbh_ZQ7qLd6wlzXk94GSBAzf17fqzBOO5wBimwl1Av7MfdnYHZ57ywZ1GS5yuJM4yiOCLIDc4bo6xdkoWleO6mSO5skWaIfwXrZiTyPAqkv3rVNoZe_f4KXYKJVpQdNnVbf1jV4qxsDUriWpt2MQVaWTXVoYQvT9J8C6Pra52zTG4aUksnRMTITovdVBVFKZegQ2vxQ-YedGH0Cu4b2mviWFEACWP_AyFpXL6iBJnZwOkZjvjf_K0eZso8O78wT3L5wwV0oydzt6TGsA7or3pivMj_abINq2z8t0EIIir2QWaJhcjfi4ZvZkz2gQd4UcIQ7_wN.owKJymc17FE3BRf92Kg6FpqlabkWpMQNt8TTtnfskrI&dib_tag=se&gad_source=1&hvadid=698678093701&hvdev=c&hvlocphy=9061701&hvnetw=g&hvqmt=e&hvrand=11217221565249665220&hvtargid=kwd-1128945728851&hydadcr=17788_2250011&keywords=amazon+pickleball+racquet&nsdOptOutParam=true&qid=1736838720&sr=8-5"
          target="_blank"
          rel="noopener noreferrer"
        >
          <div class="overflow-hidden rounded-lg bg-pink-200 shadow-md">
            <img
              src="https://m.media-amazon.com/images/I/71cqn+usujL._SX679_.jpg"
              alt="Pickleball Paddles"
              class="h-50 w-full object-cover"
            />
            <div class="p-4">
              <h3 class="text-sm font-semibold text-gray-800">
                Arrowmax Pickleball Paddles | Featuring a Multilayer Fiberglass
                and Graphite Pickleball Paddle Face | SX3 Honeycomb Core |
                Pickleball Rackets Designed in The USA for Traction and
                Stability
              </h3>
              <p class="mt-2 text-lg font-bold text-pink-600">
                ₹3,600 <span class="text-gray-400 line-through">₹9,900</span>
              </p>
            </div>
          </div>
        </a>

        <!-- Item 4 -->
        <a
          href="https://www.amazon.in/HEAD-Pickleball-Fiberglass-Beginning-Intermediate/dp/B09MWNZB9V/ref=sr_1_8?adgrpid=157222581490&dib=eyJ2IjoiMSJ9.BqX1Df_TA3_Z619tn4S-EX7UCgeQVzDTCsQqDvDX9w0pLuqR6tGXOU8Sx9lPz_Dq1p1u4epmG5Gvp10EeXv93YKZqQbR5bBmNTGC-ayZyDo1PeswLDP5dyVcaagbh_ZQ7qLd6wlzXk94GSBAzf17fqzBOO5wBimwl1Av7MfdnYHZ57ywZ1GS5yuJM4yiOCLIDc4bo6xdkoWleO6mSO5skWaIfwXrZiTyPAqkv3rVNoZe_f4KXYKJVpQdNnVbf1jV4qxsDUriWpt2MQVaWTXVoYQvT9J8C6Pra52zTG4aUksnRMTITovdVBVFKZegQ2vxQ-YedGH0Cu4b2mviWFEACWP_AyFpXL6iBJnZwOkZjvjf_K0eZso8O78wT3L5wwV0oydzt6TGsA7or3pivMj_abINq2z8t0EIIir2QWaJhcjfi4ZvZkz2gQd4UcIQ7_wN.owKJymc17FE3BRf92Kg6FpqlabkWpMQNt8TTtnfskrI&dib_tag=se&gad_source=1&hvadid=698678093701&hvdev=c&hvlocphy=9061701&hvnetw=g&hvqmt=e&hvrand=11217221565249665220&hvtargid=kwd-1128945728851&hydadcr=17788_2250011&keywords=amazon+pickleball+racquet&nsdOptOutParam=true&qid=1736838720&sr=8-8"
          target="_blank"
          rel="noopener noreferrer"
        >
          <div class="overflow-hidden rounded-lg bg-pink-200 shadow-md">
            <img
              src="https://m.media-amazon.com/images/I/713Ncyc8cAL._SX679_.jpg"
              alt="Pickleball Paddles"
              class="h-50 w-full object-cover"
            />
            <div class="p-4">
              <h3 class="text-sm font-semibold text-gray-800">
                HEAD Cyber Elite Pickleball Paddle, Fiberglass Surface,
                Black/White Color, Beginning to Intermediate Levels
              </h3>
              <p class="mt-2 text-lg font-bold text-pink-600">
                ₹14,163 <span class="text-gray-400 line-through">₹19,469</span>
              </p>
            </div>
          </div>
        </a>

        <!-- Item 5 -->
        <a
          href="https://www.amazon.in/TANSO-Fiberglass-Pickleball-Polypropylene-Honeycomb/dp/B0D79CK6S8/ref=sr_1_9?adgrpid=157222581490&dib=eyJ2IjoiMSJ9.BqX1Df_TA3_Z619tn4S-EX7UCgeQVzDTCsQqDvDX9w0pLuqR6tGXOU8Sx9lPz_Dq1p1u4epmG5Gvp10EeXv93YKZqQbR5bBmNTGC-ayZyDo1PeswLDP5dyVcaagbh_ZQ7qLd6wlzXk94GSBAzf17fqzBOO5wBimwl1Av7MfdnYHZ57ywZ1GS5yuJM4yiOCLIDc4bo6xdkoWleO6mSO5skWaIfwXrZiTyPAqkv3rVNoZe_f4KXYKJVpQdNnVbf1jV4qxsDUriWpt2MQVaWTXVoYQvT9J8C6Pra52zTG4aUksnRMTITovdVBVFKZegQ2vxQ-YedGH0Cu4b2mviWFEACWP_AyFpXL6iBJnZwOkZjvjf_K0eZso8O78wT3L5wwV0oydzt6TGsA7or3pivMj_abINq2z8t0EIIir2QWaJhcjfi4ZvZkz2gQd4UcIQ7_wN.owKJymc17FE3BRf92Kg6FpqlabkWpMQNt8TTtnfskrI&dib_tag=se&gad_source=1&hvadid=698678093701&hvdev=c&hvlocphy=9061701&hvnetw=g&hvqmt=e&hvrand=11217221565249665220&hvtargid=kwd-1128945728851&hydadcr=17788_2250011&keywords=amazon+pickleball+racquet&nsdOptOutParam=true&qid=1736838720&sr=8-9"
          target="_blank"
          rel="noopener noreferrer"
        >
          <div class="overflow-hidden rounded-lg bg-pink-200 shadow-md">
            <img
              src="https://m.media-amazon.com/images/I/71T2bkjhS8L._SX679_.jpg"
              alt="Pickleball Paddles"
              class="h-50 w-full object-cover"
            />
            <div class="p-4">
              <h3 class="text-sm font-semibold text-gray-800">
                TANSO Kaze Fiberglass Pickleball Paddle with Free Full
                Pickleball Paddle Cover (220 Grams, 415mm, Fiberglass Surface
                Pickleball Paddle with Polypropylene Honeycomb Core) (Pink)
              </h3>
              <p class="mt-2 text-lg font-bold text-pink-600">
                ₹1,499 <span class="text-gray-400 line-through">₹2,499</span>
              </p>
            </div>
          </div>
        </a>

        <!-- Item 6 -->
        <a
          href="https://www.amazon.in/Goodland-pickleball-paddle16mm-honeycomb-material/dp/B0D9JQDQMR/ref=sr_1_14?adgrpid=157222581490&dib=eyJ2IjoiMSJ9.BqX1Df_TA3_Z619tn4S-EX7UCgeQVzDTCsQqDvDX9w0pLuqR6tGXOU8Sx9lPz_Dq1p1u4epmG5Gvp10EeXv93YKZqQbR5bBmNTGC-ayZyDo1PeswLDP5dyVcaagbh_ZQ7qLd6wlzXk94GSBAzf17fqzBOO5wBimwl1Av7MfdnYHZ57ywZ1GS5yuJM4yiOCLIDc4bo6xdkoWleO6mSO5skWaIfwXrZiTyPAqkv3rVNoZe_f4KXYKJVpQdNnVbf1jV4qxsDUriWpt2MQVaWTXVoYQvT9J8C6Pra52zTG4aUksnRMTITovdVBVFKZegQ2vxQ-YedGH0Cu4b2mviWFEACWP_AyFpXL6iBJnZwOkZjvjf_K0eZso8O78wT3L5wwV0oydzt6TGsA7or3pivMj_abINq2z8t0EIIir2QWaJhcjfi4ZvZkz2gQd4UcIQ7_wN.owKJymc17FE3BRf92Kg6FpqlabkWpMQNt8TTtnfskrI&dib_tag=se&gad_source=1&hvadid=698678093701&hvdev=c&hvlocphy=9061701&hvnetw=g&hvqmt=e&hvrand=11217221565249665220&hvtargid=kwd-1128945728851&hydadcr=17788_2250011&keywords=amazon+pickleball+racquet&nsdOptOutParam=true&qid=1736838720&sr=8-14"
          target="_blank"
          rel="noopener noreferrer"
        >
          <div class="overflow-hidden rounded-lg bg-pink-200 shadow-md">
            <img
              src="https://m.media-amazon.com/images/I/71+wuFOqiOL._SX679_.jpg"
              alt="Pickleball Paddles"
              class="h-50 w-full object-cover"
            />
            <div class="p-4">
              <h3 class="text-sm font-semibold text-gray-800">
                Goodland Advance pickleball paddles (Racket) T700 18K Raw carbon
                fiber surface pickleball paddle16mm thick PP honeycomb material
                with cushion comfort grip 1 pickleball, pickleball cover USAPA
                Approved
              </h3>
              <p class="mt-2 text-lg font-bold text-pink-600">
                ₹8,340 <span class="text-gray-400 line-through">₹12,530</span>
              </p>
            </div>
          </div>
        </a>

        <!-- Item 7 -->
        <a
          href="https://www.amazon.in/Pickleball-United-PowerDrive-Lightweight-Perforated/dp/B0CRGD77SN/ref=sr_1_16?adgrpid=157222581490&dib=eyJ2IjoiMSJ9.BqX1Df_TA3_Z619tn4S-EX7UCgeQVzDTCsQqDvDX9w0pLuqR6tGXOU8Sx9lPz_Dq1p1u4epmG5Gvp10EeXv93YKZqQbR5bBmNTGC-ayZyDo1PeswLDP5dyVcaagbh_ZQ7qLd6wlzXk94GSBAzf17fqzBOO5wBimwl1Av7MfdnYHZ57ywZ1GS5yuJM4yiOCLIDc4bo6xdkoWleO6mSO5skWaIfwXrZiTyPAqkv3rVNoZe_f4KXYKJVpQdNnVbf1jV4qxsDUriWpt2MQVaWTXVoYQvT9J8C6Pra52zTG4aUksnRMTITovdVBVFKZegQ2vxQ-YedGH0Cu4b2mviWFEACWP_AyFpXL6iBJnZwOkZjvjf_K0eZso8O78wT3L5wwV0oydzt6TGsA7or3pivMj_abINq2z8t0EIIir2QWaJhcjfi4ZvZkz2gQd4UcIQ7_wN.owKJymc17FE3BRf92Kg6FpqlabkWpMQNt8TTtnfskrI&dib_tag=se&gad_source=1&hvadid=698678093701&hvdev=c&hvlocphy=9061701&hvnetw=g&hvqmt=e&hvrand=11217221565249665220&hvtargid=kwd-1128945728851&hydadcr=17788_2250011&keywords=amazon+pickleball+racquet&nsdOptOutParam=true&qid=1736838720&sr=8-16"
          target="_blank"
          rel="noopener noreferrer"
        >
          <div class="overflow-hidden rounded-lg bg-pink-200 shadow-md">
            <img
              src="https://m.media-amazon.com/images/I/51j1jzqd8yL._SX679_.jpg"
              alt="Pickleball Paddles"
              class="h-50 w-full object-cover"
            />
            <div class="p-4">
              <h3 class="text-sm font-semibold text-gray-800">
                Pickleball United PowerDrive Pickleball Paddle| Lightweight
                Racket, Perforated Cork Sheet Layer, Graphite Surface| Cushion
                Comfort Grip Pickle Ball Paddle| Indoor/Outdoor Play Compatible
                - Pack of 1
              </h3>
              <p class="mt-2 text-lg font-bold text-pink-600">
                ₹1,143 <span class="text-gray-400 line-through">₹1,299</span>
              </p>
            </div>
          </div>
        </a>

        <!-- Item 8 -->
        <a
          href="https://www.amazon.in/Airavat-Pickleball-Lightweight-Comfortable-Cushion/dp/B0CVFYVP7N/ref=sr_1_30?adgrpid=157222581490&dib=eyJ2IjoiMSJ9.BqX1Df_TA3_Z619tn4S-EX7UCgeQVzDTCsQqDvDX9w0pLuqR6tGXOU8Sx9lPz_Dq1p1u4epmG5Gvp10EeXv93YKZqQbR5bBmNTGC-ayZyDo1PeswLDP5dyVcaagbh_ZQ7qLd6wlzXk94GSBAzf17fqzBOO5wBimwl1Av7MfdnYHZ57ywZ1GS5yuJM4yiOCLIDc4bo6xdkoWleO6mSO5skWaIfwXrZiTyPAqkv3rVNoZe_f4KXYKJVpQdNnVbf1jV4qxsDUriWpt2MQVaWTXVoYQvT9J8C6Pra52zTG4aUksnRMTITovdVBVFKZegQ2vxQ-YedGH0Cu4b2mviWFEACWP_AyFpXL6iBJnZwOkZjvjf_K0eZso8O78wT3L5wwV0oydzt6TGsA7or3pivMj_abINq2z8t0EIIir2QWaJhcjfi4ZvZkz2gQd4UcIQ7_wN.owKJymc17FE3BRf92Kg6FpqlabkWpMQNt8TTtnfskrI&dib_tag=se&gad_source=1&hvadid=698678093701&hvdev=c&hvlocphy=9061701&hvnetw=g&hvqmt=e&hvrand=11217221565249665220&hvtargid=kwd-1128945728851&hydadcr=17788_2250011&keywords=amazon+pickleball+racquet&nsdOptOutParam=true&qid=1736838720&sr=8-30"
          target="_blank"
          rel="noopener noreferrer"
        >
          <div class="overflow-hidden rounded-lg bg-pink-200 shadow-md">
            <img
              src="https://m.media-amazon.com/images/I/71yGgv++C2L._SX679_.jpg"
              alt="Pickleball Paddles"
              class="h-50 w-full object-cover"
            />
            <div class="p-4">
              <h3 class="text-sm font-semibold text-gray-800">
                Airavat Pickleball Paddle Set, Prix Pickleball Paddle Set |
                Pickleball Set of 2 Pickleball Paddles Teal Color, 2 Pickleball
                Balls | Made of Carbon (Red- Single Piece)
              </h3>
              <p class="mt-2 text-lg font-bold text-pink-600">
                ₹2,379 <span class="text-gray-400 line-through">₹4,499</span>
              </p>
            </div>
          </div>
        </a>
      </div>
    </div>
  </body>
</Layout>
